/* 
   reset
*/
:root {
   
   --font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
   --font-size:17px;
   --font-dark-color:hsl(0, 0%, 5%);
   --headings-dark-color:hsl(0, 0%, 30%);
   
   --bg_semantic_positive:hsl(120, 93%, 70%);     /* green  - positive */
   --bg_semantic_positive_text:black;
   --bg_semantic_negative:hsl(0, 100%, 80%);      /* red    - negative / error */
   --bg_semantic_negative_text:black;
   --bg_semantic_warning: hsl(60, 100%, 60%);     /* yellow - warning  */
   --bg_semantic_warning_text:black;
   --bg_semantic_neutral: hsl(240, 100%, 95%);    /* blue   - neutral  */
   --bg_semantic_neutral_dark: hsl(240, 100%, 75%);    /* blue   - neutral  */
   --bg_semantic_neutral_text:white;

   --card_top_img:240px
}


/* 
   semantic elements
*/
body {
   width:100%;
   min-height:100vh;
   margin:0;
   padding:0;
   color:var(--font-dark-color);
   font-size:var(--font-size);
   font-family: var(--font-family);

   /* background:hsl(214, 30%, 90%);  to do : remove? */
}
nav {
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   gap:.5rem;
   position:fixed;
   z-index:9999;
   top:0;
   left:0;
   width:100%;
   height:2rem;
   padding-left:1rem;
   padding-top:.5rem;
   padding-bottom:1rem;
   /* border-bottom:solid 1px lightgrey;  to do : remove? */
   background:white;
}
.nav_dimmer::before {
   content:'';
   position:fixed;
   top:0;
   left:0;
   width:100%;
   /* some tweaking on height - see height on nav above */
   height:3.55rem;
   background:black;
   opacity:.3;
}

@media screen and (min-width: 768px) {
   nav {
      font-size:1.25rem;
      gap:.15rem;
   }
}
/* main nav links */
nav .select_page_btn {
   height:100%;
   background: none;
	color: inherit;
	border: solid 1px transparent;
   border-radius:unset;
	padding: 0;
   padding-left:.5rem;
   padding-right:.5rem;
   padding-bottom:1rem;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
nav .select_page_btn:hover {
   background:none;
}
nav .select_page_btn.selected_page {
   color:var(--bg_semantic_neutral_text);
   background:var(--bg_semantic_neutral_dark);
}
main {
   margin-top:2rem;
   padding-top:1rem;
   max-width:100%;
   height:fit-content;
}
section {
   margin:0;
   margin-top:.5rem;
   margin-bottom:.5rem;
   padding:0;
   padding-left:1rem;
   padding-right:1rem;
   /* border:solid 1px blue; */
}
h1,h2,h3,h4,h5,h6 {
   color:var(--headings-dark-color);
}
h1 {
   font-size:2.5rem;
}
h2 {
   font-size:2rem;
}
h3 {
   font-size:1.5rem;
   margin:0;
}
h4 {
   font-size:1.25rem;
   margin:0;
}
h5 {
   font-size:1.15rem;
   margin:0;
}
p {
   padding:0;
}
ul {
   list-style:none;
}
button {
   background:hsl(0, 0%, 93%);
   color: inherit;
   font: inherit;
   cursor: pointer;
   outline: none;

   color:grey;
   font-size:1.1rem;
   font-weight:600;
   margin:.5rem;
   padding:.5rem;
   border:solid 1px hsl(0, 0%, 73%);
   border-radius:.25rem;
   width:fit-content;
   height:fit-content;
}
button:hover {
   color:black;
   background:hsl(0, 0%, 83%);
}
button.alpha_ctrl_btn:hover {
   background:hsl(120, 73%, 80%);
}
/* 
we clearly highlight btns on forms on tab focus change 
match color on eg input ctrls on focus
*/
button.form_btn:focus {
   border:solid 1px hsl(40, 100%, 45%);
   background:hsl(40, 100%, 80%);
}
/* 
btns in eg menu, we can differentiate
button:not(.form_btn):focus {
   border:solid 1px hsl(40, 100%, 45%);
}
*/
button.disabled {
   color:lightgrey;
   border:solid 1px hsl(0, 0%, 93%);
   cursor:auto;
}
button.disabled:hover {
   color:lightgrey;
   background:none;
}

button.action_btn {
   font-size:1.5rem;
   margin-left:1rem;
   margin-right:1rem;
   max-width:150px;
}

/* 
   flex 
*/
.flex {
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;   
   -ms-flex-wrap:wrap;
   flex-wrap:wrap;
}
.flex_row {
   -webkit-box-orient:horizontal;
   -webkit-box-direction:normal;
   -ms-flex-direction:row;
   flex-direction:row;
   -ms-flex-wrap:wrap;
   flex-wrap:wrap;
}
.flex_col {
   -webkit-box-orient:vertical;
   -webkit-box-direction:normal;
   -ms-flex-direction:column;
   flex-direction:column;
   -ms-flex-wrap:wrap;
   flex-wrap:wrap;
}
.flex_50 {
   -ms-flex-preferred-size: 50%;
   flex-basis: 50%;
}
.flex_100 {
   -ms-flex-preferred-size: 100%;
   flex-basis: 100%;
}
.no_wrap {
   -ms-flex-wrap:nowrap;
   flex-wrap:nowrap;
}
.justify_center {
   -webkit-box-pack:center;
   -ms-flex-pack:center;
   justify-content:center;
}
.justify_left {
   -webkit-box-pack:left;
   -ms-flex-pack:left;
   justify-content:left;
}
.justify_start {
   -webkit-box-pack:start;
   -ms-flex-pack:start;
   justify-content:start;
}
.space_between {
   -webkit-box-pack:justify;
   -ms-flex-pack:justify;
   justify-content:space-between;
}
.space_around {
   -ms-flex-pack:distribute;
   justify-content:space-around;
}
.align_items_start {
   -webkit-box-align:start;
   -ms-flex-align:start;
   align-items:start;
}
.align_items_center {
   -webkit-box-align:center;
   -ms-flex-align:center;
   align-items:center;
}
.row_reverse {
   -webkit-box-orient: horizontal;
   -webkit-box-direction: reverse;
   -ms-flex-direction: row-reverse;
   flex-direction: row-reverse;
}


/* 
   grid
*/
.grid {
   display:-ms-grid;
   display:grid;
}
.grid_cards_layout {
   -ms-grid-columns:repeat(auto-fit,minmax(400px,1fr));
   grid-template-columns:repeat(auto-fit,minmax(400px,1fr));
   gap:1rem;
}

.gap_0\.15,.gap_\.15 {gap:.15rem;}
.gap_0\.25,.gap_\.25 {gap:.25rem;}
.gap_0\.5, .gap_\.5 {gap:.5rem;}
.gap_1 {gap:1rem;}
.gap_2 {gap:2rem;}



.files_layout {   
   display:-ms-grid;
   display:grid;
   -ms-grid-columns: 1fr 2.4fr;
   grid-template-columns: 1fr 2.4fr;
   grid-gap:.7rem;
}



/* 
   dimensions 
*/
.w_1 {width:1rem;}
.w_2 {width:2rem;}
.w_3 {width:3rem;}
.w_4 {width:4rem;}
.w_5 {width:5rem;}
.w_50 {width:50%;}
.w_90 {width:90%;}
.w_100 {width:100%;}
.w_full {width:100%;}
.w_400 {width:400px;}
.max_w_full {max-width:100%;}
.min_w_1  {min-width: 1rem;}
.min_w_2  {min-width: 2rem;}
.min_w_5  {min-width: 5rem;}
.min_w_6  {min-width: 6rem;}
.min_w_8  {min-width: 8rem;}
.min_w_10 {min-width: 10rem;}
.min_w_12 {min-width: 12rem;}

.w_2_percent {width:2%;}
.w_5_percent {width:5%;}
.w_10_percent {width:10%;}

.h_1 {height:1rem;}
.h_2 {height:2rem;}
.h_3 {height:3rem;}
.h_6 {height:6rem;}
.h_20 {height:20%;}
.h_80 {height:80%;}
.h_100 {height:100%;}
.min_h_80 {min-height:80%;}
.h_80vh {height:80vh;}
.h_85vh {height:85vh;}

.max_h_3 {max-height:3rem;}
.max_h_12 {max-height:12rem;}
.max_h_70vh {max-height:70vh !important;}

.fit_content {
   width:fit-content;
   height:fit-content;
}
.fit_content_height {
   height:fit-content;
}

/* 
   margin 
*/
.m_0 {margin:0;}
.m_0\.25,.m_\.25 {margin:.25rem;}
.m_0\.5, .m_\.5 {margin:.5rem;}
.m_1 {margin:1rem;}
.m_2 {margin:2rem;}
.m_3 {margin:3rem;}
.m_4 {margin:4rem;}
.mt_0\.25,mt_\.25 {margin-top:.25rem;}
.mt_0\.5,mt_\.5 {margin-top:.5rem;}
.mt_0\.75,mt_\.75 {margin-top:.75rem;}
.mt_1 {margin-top:1rem;}
.mt_2 {margin-top:2rem;}
.mt_3 {margin-top:3rem;}
.mt_4 {margin-top:4rem;}
.mt_5 {margin-top:5rem;}
.ml_1 {margin-left:1rem;}
.ml_2 {margin-left:2rem;}
.ml_3 {margin-left:3rem;}
.ml_4 {margin-left:4rem;}
.ml_5 {margin-left:5rem;}
.mb_0\.5,mb_\.5 {margin-bottom:.5rem;}
.mb_1 {margin-bottom:1rem;}
.mb_2 {margin-bottom:2rem;}
.mb_3 {margin-bottom:3rem;}
.mb_4 {margin-bottom:4rem;}
.mb_5 {margin-bottom:5rem;}
.ml_1 {margin-left:1rem;}
.ml_5 {margin-left:5rem;}
.mr_0\.5,mr_\.5 {margin-right:.5rem;}
.mr_1 {margin-right:1rem;}
.mr_2 {margin-right:2rem;}
.mr_3 {margin-right:3rem;}
.mr_4 {margin-right:4rem;}
.mr_5 {margin-right:5rem;}
.m_auto  {margin-left:auto;margin-right:auto;margin-top:auto;margin-bottom:auto;}
.mx_auto {margin-left:auto;margin-right:auto;}
.ml_auto {margin-left:auto;margin-right:0;}
.mr_auto {margin-left:0;margin-right:auto;}

/* 
   padding 
*/
.p_0 {padding:0;}
.p_0\.25,.p_\.25 {padding:.25rem;}
.p_0\.5, .p_\.5 {padding:.5rem;}
.p_1 {padding:1rem;}
.p_2 {padding:2rem;}
.p_3 {padding:3rem;}
.p_4 {padding:4rem;}
.pt_0 {padding-top:0;}
.pt_\.25,.pt_0\.25 {padding-top:.25rem;}
.pt_\.3,.pt_0\.3 {padding-top:.3rem;}
.pt_\.5,.pt_0\.5 {padding-top:.5rem;}
.pt_\.75,.pt_0\.75 {padding-top:.75rem;}
.pt_1 {padding-top:1rem;}
.pt_2 {padding-top:2rem;}
.pt_3 {padding-top:3rem;}
.pt_4 {padding-top:4rem;}
.pb_0 {padding-bottom:0;}
.pb_\.15,.pb_0\.15 {padding-bottom:.15rem;}
.pb_\.25,.pb_0\.25 {padding-bottom:.25rem;}
.pb_\.5,.pb_0\.5 {padding-bottom:.5rem;}
.pb_\.75,.pb_0\.75 {padding-bottom:.75rem;}
.pb_1 {padding-bottom:1rem;}
.pb_2 {padding-bottom:2rem;}
.pb_3 {padding-bottom:3rem;}
.pb_4 {padding-bottom:4rem;}
.pl_\.25,.pl_0\.25 {padding-left:.25rem;}
.pl_\.5,.pl_0\.5 {padding-left:.5rem;}
.pl_1 {padding-left:1rem;}
.pl_2 {padding-left:2rem;}
.pr_\.25,.pr_0\.25 {padding-right:.25rem;}
.pr_\.5,.pr_0\.5 {padding-right:.5rem;}
.pr_1 {padding-right:1rem;}
.pr_2 {padding-right:2rem;}
.pr_3 {padding-right:3rem;}
.pr_5 {padding-right:5rem;}

/* line height */
.line_1 {line-height:1rem;}
.line_2 {line-height:2rem;}

/* 
   display utilities
*/
.logo_heading {
   position:relative;
   font-size:4rem;
   margin-bottom:0;
   padding-bottom:0;
}
h2.logo_heading {
   font-size:2.5rem;
}
h3.logo_heading {
   font-size:1.75rem;
}
.ui_component{
   border:solid 1px lightgrey;
   border-radius:.5rem;
   padding:1rem;
}
.cursor_pointer {
   cursor:pointer;
}
.border {
   border:solid 1px lightgrey;
}
.no_border {
   border:none;
}
.border_radius_0\.5,.border_radius_\.5 {
   border-radius:0.5rem;
}
.border_radius_1 {
   border-radius:1rem;
}
.rounded {
   border-radius:1rem;
}
.rounded_0\.5, .rounded_\.5 {
   border-radius:0.5rem;
}

.text_center {
   text-align:center;
}
.text_left {
   text-align:left;
}
.text_right {
   text-align:right;
}
.text_sm {
   font-size:.95rem;
}
.text_lg {
   font-size:1.1rem;
}
.text_h4 {
   font-size:1.25rem;font-weight:700;padding-left:1rem;
   margin:0;
}
.text_bold {
   font-weight:bold;
}
.text_white {
   color:white;
}
.text_weight_200 {
   font-weight:200;
}
.inline_block {
   display:inline-block;
}
.break_words {
   white-space:normal; 
   word-wrap:break-word;
   overflow-wrap:break-word;
   word-break:break-word;
}
.hidden {
   display:none;
}
.display_inline {
   display:inline-block;
}


.opacity_\.5, .opacity_0\.5 {opacity:.5;}
.opacity_\.6, .opacity_0\.6 {opacity:.6;}


/* 
   colors 
*/
.text_grey {
   color:hsl(0, 0%, 50%);
}
.text_lightgrey {
   color:lightgrey;
}
.text_blue {
   color:hsl(240, 100%, 50%);
}
.font_normal {
   font-weight: normal;
}
.font_0\.9 {
   font-size:.9rem;
}

/* semantic utility colors */
.bg_positive {
   color:var(--bg_semantic_positive_text);
   background:var(--bg_semantic_positive);
}
.bg_negative {
   color:var(--bg_semantic_negative_text);
   background:var(--bg_semantic_negative);
}
.bg_warning {
   color:var(--bg_semantic_warning_text);
   background:var(--bg_semantic_warning);
}
.bg_neutral {
   color:var(--bg_semantic_neutral_text);
   background:var(--bg_semantic_neutral);
}
.bg_inform {
   background:hsl(120, 73%, 80%);
}

.bg_yellow_100 {background:hsl(60, 100%, 80%);}
.bg_yellow_200 {background:hsl(60, 100%, 70%);}
.bg_yellow_300 {background:hsl(60, 100%, 60%);}
.bg_yellow     {background:hsl(60, 100%, 50%);}

.bg_lightgrey  {background:hsl(0, 0%, 93%);}

.bg_lightblue  {background:hsl(240, 100%, 95%);}
.bg_blue       {background:blue;}

.bg_white      {background:white;}

.highlighted_btn {
   background:var(--bg_positive);
}

/* Pagination */
.page_selector {
   height:fit-content;
   padding-left:.5rem;
   padding-right:.5rem;
   padding-bottom:.25rem;
   border-radius:.5rem;
   cursor:pointer;
}
.page_selector:hover {
   background:hsl(120, 73%, 80%);
}



.italic,
.text_italic {
   font-style:italic;
}
.font_w_400 {
   font-weight:400;
}
.hover_line:hover {
   text-decoration:underline;
}



/* 
   forms
*/
form {
   width:100%;
}
.form_row {
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   gap:2rem;
   width:50%;
   margin-top:.5rem;
   margin-bottom:.5rem;
}
input,
textarea {
   font-family:var(--font-family);
   font-size:1.05rem;
   padding:.15rem;
   padding-left:.25rem;
   padding-right:.25rem;
   border:solid 1px hsl(0, 0%, 80%);
   resize: vertical;
}
textarea {
   visibility:visible;
}

/* clearly distinguish non-editable form fields */
input[disabled],
input[readonly],
textarea[disabled],
textarea[readonly] {
   outline:none;
   background:hsl(0, 0%, 96%);
}

label,.label {
   color:hsl(0, 0%, 30%);
   font-weight:400;
   font-size:1.1rem;
   align-self:start;
}
.record_content div {   
   align-self:start;
}


.form_row_divider {
   -ms-grid-column: 1;
   grid-column:1;
   grid-column-start: 1;
   -ms-grid-column-span: 2;
   grid-column-end: 3;
   background:hsl(0, 0%, 93%);
   height:1px;
   margin-top:2rem;
   margin-bottom:3rem;
}
.config_form {
   display:-ms-grid;
   display:grid;
   -ms-grid-columns: 1fr;
   grid-template-columns: 1fr;
   grid-gap:.7rem;
}
.btn_grp {
   -ms-grid-column: 2;
   grid-column:2;
   grid-column-start: 2;
   -ms-grid-column-span: 1;
   grid-column-end: 3;
   padding:1rem;
   padding-top:.5rem;
   padding-bottom:.5rem;
}
.grid_span_2 {
   -ms-grid-column: 1;
   grid-column:1;
   grid-column-start: 1;
   -ms-grid-column-span: 2;
   grid-column-end: 3;
}
.field_info {
   font-size:.95rem;
   color:hsl(0, 0%, 45%);
   font-style:italic;
   text-align:right;
}

/* 
   Collection Items - card/record/form
*/
.collection_item_record {

   position:relative;

   display:-ms-grid;
   display:grid;
   -ms-grid-columns: 1fr .7rem 2fr;
   grid-template-columns: 1fr 2fr;
   grid-gap:.7rem;
}
.collection_item_record.min_img {
   -ms-grid-columns: 2fr .7rem 1fr;
   grid-template-columns: 2fr 1fr;
   grid-gap:.35rem;
}
.img_col div.stacked_img_title {
   display:none;
}


@media screen and (max-width: 1000px) {
   /* 
   stack form sooner in Files CollectionItemForm view - less horizontal space
   */
   section.inject_form_container > section.inject_form > section.collection_item_record {
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;
      -webkit-box-orient:vertical;
      -webkit-box-direction:normal;
      -ms-flex-direction:column;
      flex-direction:column;
      -ms-flex-wrap:wrap-reverse;
      flex-wrap:wrap-reverse;
      gap:.7rem;
   }
   section.inject_form_container > section.inject_form > section.collection_item_record .text_col{
      order:2;
   }
   section.inject_form_container > section.inject_form > section.collection_item_record .img_col{
      order:1;
   }
   section.inject_form_container > section.inject_form > section.collection_item_record #record_admin{
      order:3;
   }
   section.inject_form_container > section.inject_form > section.collection_item_record .img_col  {
      padding-top:0 !important;
      padding-bottom:0 !important;
   }
}
@media screen and (max-width: 768px) {
   /* we vertically stack record on sm widths */
   .collection_item_record {
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;
      -webkit-box-orient:vertical;
      -webkit-box-direction:normal;
      -ms-flex-direction:column;
      flex-direction:column;
      -ms-flex-wrap:wrap-reverse;
      flex-wrap:wrap-reverse;
      gap:.7rem;
   }
   .collection_item_record .text_col{
      order:2;
   }
   .collection_item_record .img_col{
      order:1;
   }
   .collection_item_record #record_admin{
      order:3;
   }
   .img_col div.stacked_img_title {
      display:block;
   }
}

/* 
label/[value|input] layout for Record and Form views 
*/
.record_content {
   display:-ms-grid;
   display:grid;
   -ms-grid-columns: 1fr .7rem 4fr;
   grid-template-columns: 1fr 4fr;
   grid-gap:.7rem;
}
.collection_item_form_row {
   display:-ms-grid;
   display:grid;
   -ms-grid-columns: 1fr .7rem 4fr;
   grid-template-columns: 1fr 4fr;
   grid-gap:.7rem;
}
@media screen and (max-width: 768px) {
   /* we vertically stack form on sm widths */
   .record_content {
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;
      -webkit-box-orient:vertical;
      -webkit-box-direction:normal;
      -ms-flex-direction:column;
      flex-direction:column;
      -ms-flex-wrap:wrap;
      flex-wrap:wrap;
      gap:.7rem;
   }
   .record_content .label {
      margin-top:1rem;
      margin-bottom:0;
   }
   .record_content div {
      margin-top:0;
   }
}
.img_col {
   position:relative;
   height:fit-content;
   text-align:center;
   color:grey;
   padding-top:8rem;
}

.record_image {
   width:100%;
   border-radius:0.5rem;
}
/* we wrap card_image to enable full width while cropping tall images in this view */
.record_card_image_wrap {
   width:100%;
   max-height:var(--card_top_img);
   overflow-y:hidden;
}
.record_card_image {
   width:100%;
   /* overflow:hidden; */
   margin:1rem;
   margin-top:.5rem;
   border-radius:0.5rem;
   margin-left:auto;
   margin-right:auto;
}
@media screen and (max-width: 768px) {
   .record_card_image {
      position:static;
   }
}
/* image_block may contain image|warning|file_icon */
.image_block {
   min-height:80px;
}


/* Checkbox */
input[type='checkbox'] {
   appearance:none;
   display:grid;
   display:-ms-grid;
   place-content: center;

   background:white;
   font:inherit;
   width:1rem;
   height:1rem;
   margin-top:.25rem;
   transform:translate(-0.075em);
}
/* custom checkmark */
input[type='checkbox']::before {
   content:'';
   width:1rem;
   height:1rem;
   transform: scale(0);
   transition:.03s transform ease-in-out;
   background:hsl(0, 0%, 80%);
}
input[type='checkbox']:checked::before {
   transform: scale(.8);
}

/* 
   CollectionItemRecord styles 
*/
.ci_form_title {
   font-size:1.4rem;
}


/* Radio Buttons */

/* remove radio button border */
fieldset {
   border:none;
}

input[type='radio'] {
   box-sizing: border-box;
   appearance: none;
   background: white;
   outline: 1px solid hsl(0, 0%, 70%);
   border: 1px solid white;
   width: 12px;
   height: 12px;
   margin-top:6px;
 }
 
 input[type='radio']:checked {
   background: hsl(0, 0%, 70%);
 }

/* 
   errors occupy space when they are active 
*/
.active_error {
   margin-top:-.75rem;
   margin-bottom:1rem;
   padding:.25rem;
   padding-left:1rem;
   padding-right:1rem;
   border-radius:0 0 .5rem .5rem; 
}
 

#component_container {   
   /* position below fixed nav height */
   /* margin-top:1rem; */
   max-width:100%;
   height:100%;
}

.page_nav {
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   justify-content:space-between;
   gap:.5rem;

   height:3rem;
   padding-top:1rem;
}


.collection_item_card {
   
   display:-ms-grid;
   display:grid;
   -ms-grid-rows:      var(--card_top_img) max-content max-content max-content max-content max-content 1fr max-content;  
   grid-template-rows: var(--card_top_img) max-content max-content max-content max-content max-content 1fr max-content; 

   border:solid 1px hsl(0, 0%, 90%);
   -webkit-box-shadow: 1px 2px 3px 2px hsl(0, 0%, 90%);
   box-shadow: 1px 2px 3px 2px hsl(0, 0%, 90%);
   border-radius:.5rem;
   margin:0;
   padding:0;
   padding-left:0.5rem;
   padding-right:0.5rem;
   background:white;
   max-width:500px;
}
@media screen and (max-width: 768px) {
   .page_nav {
      /* -webkit-box-orient:vertical;
      -webkit-box-direction:normal;
      -ms-flex-direction:column;
      flex-direction:column; */
      height:fit-content;
      margin-bottom:1rem;
   }
   .collection_item_card {
      margin:0;
   }
}

.deleted_records {
   color:hsl(0, 0%, 65%);
}
.deleted_records .card_title_link {
   opacity:.75;
}
.img_view {
   display:none;
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
}

.record_image {
   min-width:100%;
   cursor:pointer;
}
.collection_item_card img.record_image {
   max-width:100px;
}

.img_btn_group {
   position:fixed;
   z-index:9999;
   top:6rem;
   right:4rem;
   width:fit-content;
   background:white;
   border-radius:.25rem;
   opacity:.8;
}
.img_btn_group > button {
   width:65%;
}
.img_scroll_btn_group {
   position:fixed;
   z-index:9999;
   top:6rem;
   right:3rem;
   background:white;
}


#actions_section {
   position:relative;
}
/* app dimmer */
.dlg_bg::before {
   content:'';
   position:fixed;
   top:0;
   left:0;
   width:100%;
   height:100%;
   background:black;
   opacity:.3;
}
.dlg {
   position:fixed;
   top:25%;
   left:25%;
   width:50%;
   height:fit-content;
   background:white;
   opacity:1;
   border:solid 1px lightgrey;
   border-radius:.5rem;
}



.overflow_auto {
   overflow:auto;
}
.overflow_hidden {
   overflow:hidden;
}

.relative {
   position:relative;
}
.fixed {
   position:fixed;
   top:0;
   left:0;
}

.notification {
   width:fit-content;
   margin-top:0rem;
   margin-left:auto;
   margin-right:auto;
   padding:.75rem;
   padding-top:.25rem;
   padding-bottom:.25rem;
   border-radius:.5rem;
}

.yellow_icon {
   color:yellow;
   background:yellow;
}

.tag_sm {
   width:20px;
   height:20px;
}

/* hide  */
.hide_below_title {
   max-height:1.5rem;
   overflow:hidden;
}

/* prevent child elems (esp headings) blocking events on containers */
.no_pointer_events {
   pointer-events: none;
}

.display_block {
   display:block;
}
.display_none {
   display:none;
}


/* 
css spinner 
https://loading.io/css/
CC0 License
*/
.lds-dual-ring {
   /* change color here */
   color: #1c4c5b
 }
 .lds-dual-ring,
 .lds-dual-ring:after {
   box-sizing: border-box;
 }
 .lds-dual-ring {
   display: inline-block;
   width: 32px;
   height: 32px;
 }
 .lds-dual-ring:after {
   content: " ";
   display: block;
   width: 32px;
   height: 32px;
   margin: 8px;
   border-radius: 50%;
   border: 4px solid currentColor;
   border-color: currentColor transparent currentColor transparent;
   animation: lds-dual-ring 1.2s linear infinite;
 }
 @keyframes lds-dual-ring {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(360deg);
   }
 }

 .box_shadow {   
   -webkit-box-shadow: 1px 2px 3px 2px hsl(0, 0%, 90%);
   box-shadow: 1px 2px 3px 2px hsl(0, 0%, 90%);
 }


 

.app_status {

   position:fixed;
   top:var(--status-msg-top);
   left:0;
   right:0;
   z-index:var(--app-status-z-index);
   width:fit-content;
   max-width:50%;
   margin-left:auto;
   margin-right:auto;
   padding:1rem;

   background:white;
   border:solid 1px hsl(0, 0%, 80%);
   border-radius:.5rem;
   box-shadow: 1px 2px 3px 2px hsl(0, 0%, 90%);
   cursor:pointer;

   /* transitions */

   -webkit-transform: translateY(-200%);
   -ms-transform: translateY(-200%);
   transform: translateY(-200%);

   opacity:0;

   -webkit-transition:opacity .35s ease-in-out,-webkit-transform .75s ease-in-out;
   transition:opacity .35s ease-in-out,-webkit-transform .75s ease-in-out;
   -o-transition:opacity .35s ease-in-out,transform .75s ease-in-out;
   transition:opacity .35s ease-in-out,transform .75s ease-in-out;
   transition:opacity .35s ease-in-out,transform .75s ease-in-out,-webkit-transform .75s ease-in-out;
}
.app_status_active {

   /* transitions */

   -webkit-transform: translateY(0);
   -ms-transform: translateY(0);
   transform: translateY(0);

   opacity:1;

   -webkit-transition:opacity 1s ease-in-out,-webkit-transform .75s ease-in-out;
   transition:opacity 1s ease-in-out,-webkit-transform .75s ease-in-out;
   -o-transition:opacity 1s ease-in-out,transform .75s ease-in-out;
   transition:opacity 1s ease-in-out,transform .75s ease-in-out;
   transition:opacity 1s ease-in-out,transform .75s ease-in-out,-webkit-transform .75s ease-in-out;
}



/* ---------------------------------------------------------
   section.feature_block
   two panel block - img on left, text on right (reversible) 
------------------------------------------------------------*/
section.feature_block {
   display:-ms-grid;
   display:grid;
   -ms-grid-columns:1fr;
   grid-template-columns:1fr;
   max-width:100%;
   margin:var(--feature_block_y_margin);
}
/* text overlay */
section.feature_block > div,
section.feature_block > div.feature_text {      
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-orient:vertical;
   -webkit-box-direction:normal;
   -ms-flex-direction:column;
   flex-direction:column;
   -webkit-box-align:start;
   -ms-flex-align:start;
   align-items:flex-start;
   gap:1rem;
   min-width:50%;
   padding:2rem;
   
   /* stack in sm */
   -ms-flex-order:2;
   order:2;
}
section.feature_block *.align_start {
   margin-left:0;
   margin-right:auto;
}
section.feature_block img {
   width:100%;

   /* stack in sm */
   -ms-flex-order:1;
   order:1;

   border-radius:1rem 1rem 0 0;
}
section.feature_block div.feature_text > h1 {margin-bottom:0.5rem;}
section.feature_block p {
   margin:auto 0 auto 0;
   font-size:1.1rem;
}
section.feature_block p.text_lg {
   font-size:1.5rem;
}
section.feature_block > div > *:not(button) {
   margin:0;
   padding:0;
}
section.feature_block.reverse_order {
   -webkit-box-orient:vertical;
   -webkit-box-direction:reverse;
   -ms-flex-direction:column-reverse;
   flex-direction:column-reverse;
}
/* feature block with no img - we assign title (1st child) on left, 
   text & button (any other) on right */
section.feature_block > div:only-child {
   display:-ms-grid;
   display:grid;
   -ms-grid-columns:1fr;
   grid-template-columns:1fr;
   grid-template-areas:
      "title"
      "text"
      "buttons";
}
section.feature_block > div:only-child > *:first-child  {grid-area:title;}
section.feature_block > div:only-child > *:nth-child(2) {grid-area:text;}
section.feature_block > div:only-child > *:nth-child(3) {grid-area:buttons;}

/* feature_block utilities */
section.feature_block.my_2 {margin-top:2rem;margin-bottom:2rem;}

@media screen and (min-width: 910px) {
   section.feature_block {
      -ms-grid-columns:1fr 1fr;
      grid-template-columns:1fr 1fr;
   }
   section.feature_block.reverse_order {
      -webkit-box-orient:horizontal;
      -webkit-box-direction:reverse;
      -ms-flex-direction:row-reverse;
      flex-direction:row-reverse;
   }
   section.feature_block > div,
   section.feature_block > div.feature_text,
   section.feature_block img {
      -webkit-box-ordinal-group:unset;
      -ms-flex-order:unset;
      order:unset;
   }
   /* feature block with no img - we assign title on left (1st child) , text & button (any other) on right */
   section.feature_block > div:only-child {
      -ms-grid-columns:1fr 1fr;
      grid-template-columns:1fr 1fr;
      grid-template-areas:
         "title text"
         "title buttons";
   }
   section.feature_block img {
      border-radius:0 1rem 1rem 0;
   }
}


/*
   Transition Behaviours
*/
/* .fade_in hides element initially, .appear reveals on Intersection Obs. */
.fade_in {
   opacity:1; /* temp disabled - proving problematic and low priority */
   -webkit-transition:opacity .75s ease-in;
   -o-transition:opacity .75s ease-in;
   transition:opacity .75s ease-in;
}
.appear {
   opacity:1;
   -webkit-transition:opacity .75s ease-in;
   -o-transition:opacity .75s ease-in;
   transition:opacity .75s ease-in;
}