/* 
   reset
*/
:root {
   
   --font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
   --font-size:17px;
   --font-dark-color:hsl(0, 0%, 5%);
   --headings-dark-color:hsl(0, 0%, 30%);
   
   --bg_semantic_positive:hsl(120, 93%, 79%);     /* green  - positive */
   --bg_semantic_positive_text:black;
   --bg_semantic_negative:hsl(0, 100%, 75%);      /* red    - negative / error */
   --bg_semantic_negative_text:black;
   --bg_semantic_warning: hsl(39, 100%, 75%);     /* orange - warning  */
   --bg_semantic_warning_text:black;
   --bg_semantic_neutral: hsl(240, 100%, 85%);    /* blue   - neutral  */
   --bg_semantic_neutral_text:white;
}


/* 
   semantic elements
*/
body {
   width:100%;
   min-height:100vh;
   margin:0;
   padding:0;
   color:var(--font-dark-color);
   font-size:var(--font-size);
   font-family: var(--font-family);
}
nav {
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   gap:.5rem;

   position:fixed;
   z-index:9999;
   top:0;
   left:0;
   width:100%;
   height:2rem;
   padding-left:1rem;
   padding-top:.5rem;
   padding-bottom:1rem;
   border-bottom:solid 1px lightgrey;
   background:white;
}

@media screen and (min-width: 768px) {
   nav {
      font-size:1.25rem;
      gap:2rem;
   }
}
/* main nav links */
nav .select_page_btn {
   background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
nav .select_page_btn:hover {
   background:none;
}
nav .select_page_btn.selected_page {
   font-weight:bold;
}
main {
   margin-top:2rem;
   padding:1rem;
}
section {
   margin:0;
   margin-top:.5rem;
   margin-bottom:.5rem;
   padding:0;
   padding-left:1rem;
   padding-right:1rem;
   /* border:solid 1px blue; */
}
h1,h2,h3,h4,h5,h6 {
   color:var(--headings-dark-color);
}
h1 {
   font-size:2.5rem;
}
h2 {
   font-size:2rem;
}
h3 {
   font-size:1.5rem;
   margin:0;
}
p {
   padding:1rem;
}
ul {
   list-style:none;
}
button {
   background: none;
   color: inherit;
   font: inherit;
   cursor: pointer;
   outline: none;

   color:grey;
   font-size:1.1rem;
   font-weight:600;
   margin:.5rem;
   padding:.5rem;
   border:solid 1px hsl(0, 0%, 73%);
   border-radius:.25rem;
   width:fit-content;
}
button:hover {
   color:black;
   background:hsl(0, 0%, 93%);
}


/* 
   flex 
*/
.flex {
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
}
.flex_row {
   -webkit-box-orient:horizontal;
   -webkit-box-direction:normal;
   -ms-flex-direction:row;
   flex-direction:row;
}
.flex_col {
   -webkit-box-orient:vertical;
   -webkit-box-direction:normal;
   -ms-flex-direction:column;
   flex-direction:column;
}
.space_between {
   -webkit-box-pack:justify;
   -ms-flex-pack:justify;
   justify-content:space-between;
}
.align_items_center {
   align-items:center;
}
.row_reverse {
   flex-direction: row-reverse;
}


.gap_0\.5, 
.gap_\.5    {gap:.5rem;}
.gap_1      {gap:1rem;}
.gap_2      {gap:2rem;}



/* 
   dimensions 
*/
.w_1  {width:1rem;}
.w_2  {width:2rem;}
.w_3  {width:3rem;}
.w_4  {width:4rem;}
.w_5  {width:5rem;}
.w_100      {width:100%;}
.w_50       {width:50%;}
.w_full     {width:100%;}
.w_400      {width:400px;}

.h_100   {height:100%;}


/* 
   margin 
*/
.m_0              {margin:0;}
.m_0\.25,.m_\.25  {margin:.25rem;}
.m_0\.5, .m_\.5   {margin:.5rem;}
.m_1              {margin:1rem;}
.m_2              {margin:2rem;}
.m_3              {margin:3rem;}
.m_4              {margin:4rem;}
.mt_0\.5,mt_\.5   {margin-top:.5rem;}
.mt_1             {margin-top:1rem;}
.ml_1             {margin-left:1rem;}
.mr_0\.5,mr_\.5   {margin-right:.5rem;}
.mr_2             {margin-right:2rem;}

.mx_auto          {margin-left:auto;margin-right:auto;}
.mr_auto          {margin-left:0;margin-right:auto;}

/* 
   padding 
*/
.p_0     {padding:0;}
.p_0\.25,
.p_\.25  {padding:.25rem;}
.p_0\.5, 
.p_\.5   {padding:.5rem;}
.p_1     {padding:1rem;}
.p_2     {padding:2rem;}
.p_3     {padding:3rem;}
.p_4     {padding:4rem;}
.pt_0\.5,
.pt_0\.5 {padding-top:.5rem;}
.pt_0\.75,
.pt_0\.75 {padding-top:.75rem;}
.pt_1     {padding-top:1rem;}
.pt_2     {padding-top:2rem;}
.pt_3     {padding-top:3rem;}
.pt_4     {padding-top:4rem;}
.pb_1     {padding-bottom:1rem;}
.pb_2     {padding-bottom:2rem;}
.pb_3     {padding-bottom:3rem;}
.pb_4     {padding-bottom:4rem;}
.pl_1     {padding-left:1rem;}
.pr_1     {padding-right:1rem;}




/* 
   display utilities
*/
.logo_heading {
   position:relative;
   margin-bottom:5rem;
}
.logo_heading::before {
   content:'';
   position:absolute;
   z-index:-1;
   top:5px;
   left:17px;
   width:15px;
   height:2px;
   padding:2rem;
   background:hsl(0, 100%, 70%);
   opacity:.4;
}
.logo_heading::after {
   content:'';
   position:absolute;
   z-index:-1;
   top:25px;
   left:75px;
   width:15px;
   height:2px;
   padding:2rem;
   background:lightblue;
   opacity:.4;
}
.ui_component{
   border:solid 1px lightgrey;
   border-radius:.5rem;
   padding:1rem;
}
.cursor_pointer {
   cursor:pointer;
}
.border {
   border:solid 1px lightgrey;
}
.border_3 {
   border:solid 3px orange;
}
.text_center {
   text-align:center;
}
.inline_block {
   display:inline-block;
}
.break_words {
   word-wrap:break-word;
   white-space: normal;
}
.hidden {
   display:none;
}
.display_inline {
   display:inline-block;
}


.opacity_\.5 {opacity:.5;}


/* 
   colors 
*/
.text_grey {
   color:hsl(0, 0%, 40%);
}
.text_blue {
   color:hsl(240, 100%, 50%);
}
/* semantic utility colors */
.bg_positive {
   color:var(--bg_semantic_positive_text);
   background:var(--bg_semantic_positive);
}
.bg_negative {
   color:var(--bg_semantic_negative_text);
   background:var(--bg_semantic_negative);
}
.bg_warning {
   color:var(--bg_semantic_warning_text);
   background:var(--bg_semantic_warning);
}
.bg_neutral {
   color:var(--bg_semantic_neutral_text);
   background:var(--bg_semantic_neutral);
}
.bg_yellow {
   background:hsl(60, 100%, 50%);
}
.bg_yellow_200 {
   background:hsl(60, 100%, 60%);
}
.bg_yellow_100 {
   background:hsl(60, 100%, 70%);
}
.bg_lightgrey {
   background:hsl(0, 0%, 93%);
}
.bg_lightblue {
   background:hsl(240, 100%, 95%);
}



/* Pagination */
.page_selector {
   cursor:pointer;
}



.italic {
   font-style:italic;
}
.font_w_400 {
   font-weight:400;
}
.hover_line:hover {
   text-decoration:underline;
}



/* 
   forms
*/
form {
   width:100%;
}
.form_row {
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   gap:2rem;
   width:50%;
   margin-top:.5rem;
   margin-bottom:.5rem;
}
input,
textarea {
   font-family:var(--font-family);
   font-size:1.05rem;
   padding:.15rem;
   padding-left:.25rem;
   padding-right:.25rem;
   border:solid 1px hsl(0, 0%, 80%);
   resize: vertical;
}
textarea {background:pink;}

input[disabled] {
   outline:none;
   background:transparent;
   border:none;
}
label,.label {
   color:hsl(0, 0%, 20%);
   font-weight:500;
}
.form_row_divider {
   -ms-grid-column: 1;
   grid-column:1;
   grid-column-start: 1;
   -ms-grid-column-span: 2;
   grid-column-end: 3;
   background:hsl(0, 0%, 93%);
   height:1px;
   margin-top:2rem;
   margin-bottom:3rem;
}
.config_form {
   display:-ms-grid;
   display:grid;
   -ms-grid-columns: 1fr;
   grid-template-columns: 1fr;
   grid-gap:.7rem;
}
.btn_grp {
   -ms-grid-column: 2;
   grid-column:2;
   grid-column-start: 2;
   -ms-grid-column-span: 1;
   grid-column-end: 3;
   padding:1rem;
   padding-top:2rem;
   padding-bottom:2rem;
}
.grid_span_2 {
   -ms-grid-column: 1;
   grid-column:1;
   grid-column-start: 1;
   -ms-grid-column-span: 2;
   grid-column-end: 3;
}

/* 
   Collection Items - card/record/form
*/
.collection_item_record {
   position:relative;
   display:-ms-grid;
   display:grid;
   -ms-grid-columns: 1.5fr .7rem 1fr;
   grid-template-columns: 1.5fr 1fr;
   grid-gap:.7rem;
}

/* 
label/[value|input] layout for Record and Form views 
*/
.form_layout {
   display:-ms-grid;
   display:grid;
   -ms-grid-columns: 1fr .7rem 2fr;
   grid-template-columns: 1fr 2fr;
   grid-gap:.7rem;
}

.img_col {
   position:relative;
   height:100%;
   text-align:center;
   color:grey;
   padding-top:8rem;
}
.record_image {
   width:100%;
   max-width:50vw;
   min-height:300px;
   border:solid 1px lightgrey;
}



/* 
   errors occupy space when they are active 
*/
.active_error {
   margin-top:-.75rem;
   margin-bottom:1rem;
   padding:.25rem;
   padding-left:1rem;
   padding-right:1rem;
   border-radius:0 0 .5rem .5rem; 
}
 

#component_container {   
   /* position below fixed nav height */
   margin-top:1rem;
}

.page_nav {
   height:3rem;
   padding-top:1rem;
}

.CollectionItemCard {
   border:solid 1px hsl(0, 0%, 90%);
   border-radius:.5rem;
   margin-bottom:2rem;
   padding-top:1rem;
   padding-bottom:1rem;
}
.deleted_records {
   color:hsl(0, 0%, 65%);
}
.deleted_records .card_title_link {
   opacity:.6;
}
.img_view {
   display:none;
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
}

.record_image {
   min-width:100%;
   cursor:pointer;
}

.x_btn {
   position:absolute;
   top:6rem;
   right:3rem;
   background:white;
}


#actions_section {
   position:relative;
}
.dlg_bg::before {
   content:'';
   position:fixed;
   top:0;
   left:0;
   width:100%;
   height:100%;
   background:black;
   opacity:.3;
}

.dlg {
   position:fixed;
   top:33%;
   left:33%;
   width:33%;
   height:25%;
   background:white;
   opacity:1;
   border:solid 1px lightgrey;
   border-radius:.5rem;
}