/* 
   reset
*/
:root {
   
   --font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
   --font-size:17px;
   --font-dark-color:hsl(0, 0%, 5%);
   --headings-dark-color:hsl(0, 0%, 30%);
   
   --bg_semantic_positive:hsl(120, 93%, 79%);     /* green  - positive */
   --bg_semantic_positive_text:black;
   --bg_semantic_negative:hsl(0, 100%, 75%);      /* red    - negative / error */
   --bg_semantic_negative_text:black;
   --bg_semantic_warning: hsl(39, 100%, 75%);     /* orange - warning  */
   --bg_semantic_warning_text:black;
   --bg_semantic_neutral: hsl(240, 100%, 85%);    /* blue   - neutral  */
   --bg_semantic_neutral_text:white;
}


/* 
   semantic elements
*/
body {
   width:100%;
   min-height:100vh;
   margin:0;
   padding:0;
   color:var(--font-dark-color);
   font-size:var(--font-size);
   font-family: var(--font-family);
}
nav {
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   gap:.5rem;

   position:fixed;
   z-index:9999;
   top:0;
   left:0;
   width:100%;
   height:2rem;
   padding-left:1rem;
   padding-top:.5rem;
   padding-bottom:1rem;
   border-bottom:solid 1px lightgrey;
   background:white;
}

@media screen and (min-width: 768px) {
   nav {
      font-size:1.25rem;
      gap:2rem;
   }
}
/* main nav links */
nav .select_page_btn {
   background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
nav .select_page_btn:hover {
   background:none;
}
nav .select_page_btn.selected_page {
   font-weight:bold;
}
main {
   margin-top:2rem;
   padding:1rem;
}
section {
   margin:0;
   margin-top:.5rem;
   margin-bottom:.5rem;
   padding:0;
   padding-left:1rem;
   padding-right:1rem;
   /* border:solid 1px blue; */
}
h1,h2,h3,h4,h5,h6 {
   color:var(--headings-dark-color);
}
h1 {
   font-size:2.5rem;
}
h2 {
   font-size:2rem;
}
h3 {
   font-size:1.5rem;
   margin:0;
}
p {
   padding:1rem;
}
ul {
   list-style:none;
}
button {
   background: none;
   color: inherit;
   font: inherit;
   cursor: pointer;
   outline: none;

   color:grey;
   font-size:1.1rem;
   font-weight:600;
   margin:.5rem;
   padding:.5rem;
   border:solid 1px hsl(0, 0%, 73%);
   border-radius:.25rem;
   width:fit-content;
}
button:hover {
   color:black;
   background:hsl(0, 0%, 93%);
}


/* 
   flex 
*/
.flex {
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;   
   -ms-flex-wrap:wrap;
   flex-wrap:wrap;
}
.flex_row {
   -webkit-box-orient:horizontal;
   -webkit-box-direction:normal;
   -ms-flex-direction:row;
   flex-direction:row;
   -ms-flex-wrap:wrap;
   flex-wrap:wrap;
}
.flex_col {
   -webkit-box-orient:vertical;
   -webkit-box-direction:normal;
   -ms-flex-direction:column;
   flex-direction:column;
   -ms-flex-wrap:wrap;
   flex-wrap:wrap;
}
.flex_100 {
   flex-basis: 100%;
}
.justify_center {
   -webkit-box-pack:center;
   -ms-flex-pack:center;
   justify-content:center;
}
.justify_left {
   -webkit-box-pack:left;
   -ms-flex-pack:left;
   justify-content:left;
}
.space_between {
   -webkit-box-pack:justify;
   -ms-flex-pack:justify;
   justify-content:space-between;
}
.space_around {
   -ms-flex-pack:distribute;
   justify-content:space-around;
}
.align_items_center {
   -webkit-box-align:center;
   -ms-flex-align:center;
   align-items:center;
}
.row_reverse {
   -webkit-box-orient: horizontal;
   -webkit-box-direction: reverse;
   -ms-flex-direction: row-reverse;
   flex-direction: row-reverse;
}


.gap_0\.15,.gap_\.15 {gap:.15rem;}
.gap_0\.25,.gap_\.25 {gap:.25rem;}
.gap_0\.5, .gap_\.5  {gap:.5rem;}
.gap_1      {gap:1rem;}
.gap_2      {gap:2rem;}



/* 
   dimensions 
*/
.w_1  {width:1rem;}
.w_2  {width:2rem;}
.w_3  {width:3rem;}
.w_4  {width:4rem;}
.w_5  {width:5rem;}
.w_100      {width:100%;}
.w_50       {width:50%;}
.w_full     {width:100%;}
.w_400      {width:400px;}
.min_w_1  {min-width: 1rem;}
.min_w_2  {min-width: 2rem;}
.min_w_5  {min-width: 5rem;}
.min_w_6  {min-width: 6rem;}
.min_w_8  {min-width: 8rem;}
.min_w_10 {min-width: 10rem;}
.min_w_12 {min-width: 12rem;}

.h_1  {height:1rem;}
.h_2  {height:2rem;}
.h_3  {height:3rem;}
.h_6  {height:6rem;}
.h_100   {height:100%;}

.max_h_3   {max-height:3rem;}
.max_h_12 {max-height:12rem;}
.max_h_24 {max-height:24rem;}

.fit_content {
   width:fit-content;
}

/* 
   margin 
*/
.m_0              {margin:0;}
.m_0\.25,.m_\.25  {margin:.25rem;}
.m_0\.5, .m_\.5   {margin:.5rem;}
.m_1              {margin:1rem;}
.m_2              {margin:2rem;}
.m_3              {margin:3rem;}
.m_4              {margin:4rem;}
.mt_0\.25,mt_\.25 {margin-top:.25rem;}
.mt_0\.5,mt_\.5   {margin-top:.5rem;}
.mt_0\.75,mt_\.75 {margin-top:.75rem;}
.mt_1             {margin-top:1rem;}
.mt_2             {margin-top:2rem;}
.mt_3             {margin-top:3rem;}
.ml_1             {margin-left:1rem;}
.ml_2             {margin-left:2rem;}
.mb_0\.5,mb_\.5   {margin-bottom:.5rem;}
.mb_1             {margin-bottom:1rem;}
.mb_2             {margin-bottom:2rem;}
.mb_3             {margin-bottom:3rem;}
.ml_1             {margin-left:1rem;}
.mr_0\.5,mr_\.5   {margin-right:.5rem;}
.mr_2             {margin-right:2rem;}
.mx_auto          {margin-left:auto;margin-right:auto;}
.mr_auto          {margin-left:0;margin-right:auto;}

/* 
   padding 
*/
.p_0     {padding:0;}
.p_0\.25,.p_\.25  {padding:.25rem;}
.p_0\.5, .p_\.5   {padding:.5rem;}
.p_1     {padding:1rem;}
.p_2     {padding:2rem;}
.p_3     {padding:3rem;}
.p_4     {padding:4rem;}
.pt_\.5,.pt_0\.5 {padding-top:.5rem;}
.pt_\.75,.pt_0\.75 {padding-top:.75rem;}
.pt_1     {padding-top:1rem;}
.pt_2     {padding-top:2rem;}
.pt_3     {padding-top:3rem;}
.pt_4     {padding-top:4rem;}
.pb_\.15,.pb_0\.15 {padding-bottom:.15rem;}
.pb_\.25,.pb_0\.25 {padding-bottom:.25rem;}
.pb_\.5,.pb_0\.5 {padding-bottom:.5rem;}
.pb_\.75,.pb_0\.75 {padding-bottom:.75rem;}
.pb_1     {padding-bottom:1rem;}
.pb_2     {padding-bottom:2rem;}
.pb_3     {padding-bottom:3rem;}
.pb_4     {padding-bottom:4rem;}
.pl_\.25,.pl_0\.25 {padding-left:.25rem;}
.pl_\.5,.pl_0\.5 {padding-left:.5rem;}
.pl_1     {padding-left:1rem;}
.pr_\.25,.pr_0\.25 {padding-right:.25rem;}
.pr_\.5,.pr_0\.5 {padding-right:.5rem;}
.pr_1     {padding-right:1rem;}




/* 
   display utilities
*/
.logo_heading {
   position:relative;
   margin-bottom:5rem;
}
.logo_heading::before {
   content:'';
   position:absolute;
   z-index:-1;
   top:5px;
   left:17px;
   width:15px;
   height:2px;
   padding:2rem;
   background:hsl(0, 100%, 70%);
   opacity:.4;
}
.logo_heading::after {
   content:'';
   position:absolute;
   z-index:-1;
   top:25px;
   left:75px;
   width:15px;
   height:2px;
   padding:2rem;
   background:lightblue;
   opacity:.4;
}
.ui_component{
   border:solid 1px lightgrey;
   border-radius:.5rem;
   padding:1rem;
}
.cursor_pointer {
   cursor:pointer;
}
.border {
   border:solid 1px lightgrey;
}
.border_3 {
   border:solid 3px orange;
}
.no_border {
   border:none;
}
.rounded {
   border-radius:1rem;
}
.text_center {
   text-align:center;
}
.text_left {
   text-align:left;
}
.text_right {
   text-align:right;
}
.inline_block {
   display:inline-block;
}
.break_words {
   white-space:normal; 
   word-wrap:break-word;
   overflow-wrap:break-word;
   word-break:break-word;
}
.hidden {
   display:none;
}
.display_inline {
   display:inline-block;
}


.opacity_\.5 {
   opacity:.5;
}


/* 
   colors 
*/
.text_grey {
   color:hsl(0, 0%, 40%);
}
.text_lightgrey {
   color:lightgrey;
}
.text_blue {
   color:hsl(240, 100%, 50%);
}
.font_normal {
   font-weight: normal;
}
.font_0\.9 {
   font-size:.9rem;
}

/* semantic utility colors */
.bg_positive {
   color:var(--bg_semantic_positive_text);
   background:var(--bg_semantic_positive);
}
.bg_negative {
   color:var(--bg_semantic_negative_text);
   background:var(--bg_semantic_negative);
}
.bg_warning {
   color:var(--bg_semantic_warning_text);
   background:var(--bg_semantic_warning);
}
.bg_neutral {
   color:var(--bg_semantic_neutral_text);
   background:var(--bg_semantic_neutral);
}
.bg_yellow {
   background:hsl(60, 100%, 50%);
}
.bg_yellow_200 {
   background:hsl(60, 100%, 60%);
}
.bg_yellow_100 {
   background:hsl(60, 100%, 70%);
}
.bg_lightgrey {
   background:hsl(0, 0%, 93%);
}
.bg_lightblue {
   background:hsl(240, 100%, 95%);
}

.highlighted_btn {
   background:var(--bg_positive);
}

/* Pagination */
.page_selector {
   cursor:pointer;
}



.italic {
   font-style:italic;
}
.font_w_400 {
   font-weight:400;
}
.hover_line:hover {
   text-decoration:underline;
}



/* 
   forms
*/
form {
   width:100%;
}
.form_row {
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   gap:2rem;
   width:50%;
   margin-top:.5rem;
   margin-bottom:.5rem;
}
input,
textarea {
   font-family:var(--font-family);
   font-size:1.05rem;
   padding:.15rem;
   padding-left:.25rem;
   padding-right:.25rem;
   border:solid 1px hsl(0, 0%, 80%);
   resize: vertical;
}
textarea {
   visibility:visible;
}

input[disabled] {
   outline:none;
   background:transparent;
   border:none;
}
label,.label {
   color:hsl(0, 0%, 70%);
   font-weight:400;
   font-size:1.1rem;
   align-self:start;
}
.form_layout div {   
   align-self:start;
}


.form_row_divider {
   -ms-grid-column: 1;
   grid-column:1;
   grid-column-start: 1;
   -ms-grid-column-span: 2;
   grid-column-end: 3;
   background:hsl(0, 0%, 93%);
   height:1px;
   margin-top:2rem;
   margin-bottom:3rem;
}
.config_form {
   display:-ms-grid;
   display:grid;
   -ms-grid-columns: 1fr;
   grid-template-columns: 1fr;
   grid-gap:.7rem;
}
.btn_grp {
   -ms-grid-column: 2;
   grid-column:2;
   grid-column-start: 2;
   -ms-grid-column-span: 1;
   grid-column-end: 3;
   padding:1rem;
   padding-top:2rem;
   padding-bottom:2rem;
}
.grid_span_2 {
   -ms-grid-column: 1;
   grid-column:1;
   grid-column-start: 1;
   -ms-grid-column-span: 2;
   grid-column-end: 3;
}
.field_info {
   font-size:.95rem;
   color:hsl(0, 0%, 45%);
   font-style:italic;
   text-align:right;
}

/* 
   Collection Items - card/record/form
*/
.collection_item_record {
   position:relative;
   display:-ms-grid;
   display:grid;
   -ms-grid-columns: 1.5fr .7rem 1fr;
   grid-template-columns: 1.5fr 1fr;
   grid-gap:.7rem;
}
.img_col div.stacked_img_title {
   display:none;
}
@media screen and (max-width: 768px) {
   /* we vertically stack record on sm widths */
   .collection_item_record {
      display:flex;
      -webkit-box-orient:vertical;
      -webkit-box-direction:normal;
      -ms-flex-direction:column;
      flex-direction:column;
      -ms-flex-wrap:wrap-reverse;
      flex-wrap:wrap-reverse;
      gap:.7rem;
   }
   .collection_item_record .text_col{
      order:2;
   }
   .collection_item_record .img_col{
      order:1;
   }
   .collection_item_record #record_admin{
      order:3;
   }
   .img_col div.stacked_img_title {
      display:block;
   }
}

/* 
label/[value|input] layout for Record and Form views 
*/
.form_layout {
   display:-ms-grid;
   display:grid;
   -ms-grid-columns: 1fr .7rem 4fr;
   grid-template-columns: 1fr 4fr;
   grid-gap:.7rem;
}
@media screen and (max-width: 768px) {
   /* we vertically stack form on sm widths */
   .form_layout {
      display:flex;
      -webkit-box-orient:vertical;
      -webkit-box-direction:normal;
      -ms-flex-direction:column;
      flex-direction:column;
      -ms-flex-wrap:wrap;
      flex-wrap:wrap;
      gap:.7rem;
   }
   .form_layout .label {
      margin-top:1rem;
      margin-bottom:0;
   }
   .form_layout div {
      margin-top:0;
   }
}


.img_col {
   position:relative;
   height:100%;
   text-align:center;
   color:grey;
   padding-top:8rem;
}
.record_image {
   width:100%;
}



/* Checkbox */
input[type='checkbox'] {
   appearance:none;
   background:white;
   font:inherit;
   width:1rem;
   height:1rem;
   transform:translate(-0.075em);
   display:grid;
   place-content: center;
   margin-top:.25rem;
}
/* custom checkmark */
input[type='checkbox']::before {
   content:'';
   width:1rem;
   height:1rem;
   transform: scale(0);
   transition:.03s transform ease-in-out;
   background:hsl(0, 0%, 80%);
}
input[type='checkbox']:checked::before {
   transform: scale(.8);
}


/* 
   CollectionItemRecord styles 
*/
.ci_form_title {
   font-size:1.4rem;
}










/* Radio Buttons */

/* remove radio button border */
fieldset {
   border:none;
}

input[type='radio'] {
   box-sizing: border-box;
   appearance: none;
   background: white;
   outline: 1px solid hsl(0, 0%, 70%);
   border: 1px solid white;
   width: 12px;
   height: 12px;
   margin-top:6px;
 }
 
 input[type='radio']:checked {
   background: hsl(0, 0%, 70%);
 }

/* 
   errors occupy space when they are active 
*/
.active_error {
   margin-top:-.75rem;
   margin-bottom:1rem;
   padding:.25rem;
   padding-left:1rem;
   padding-right:1rem;
   border-radius:0 0 .5rem .5rem; 
}
 

#component_container {   
   /* position below fixed nav height */
   margin-top:1rem;
}

.page_nav {
   height:3rem;
   padding-top:1rem;
}

.CollectionItemCard {
   display:flex;
   border:solid 1px hsl(0, 0%, 90%);
   border-radius:.5rem;
   margin-bottom:2rem;
   padding-top:1rem;
   padding-bottom:1rem;
}
.deleted_records {
   color:hsl(0, 0%, 65%);
}
.deleted_records .card_title_link {
   opacity:.6;
}
.img_view {
   display:none;
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
}

.record_image {
   min-width:100%;
   cursor:pointer;
}
.CollectionItemCard img.record_image {
   max-width:100px !important;
}

.img_btn_group {
   position:fixed;
   z-index:9999;
   top:6rem;
   right:4rem;
   background:white;
   border-radius:.25rem;
   opacity:.86;
}
.img_btn_group > button {
   width:65%;
}
.img_scroll_btn_group {
   position:fixed;
   z-index:9999;
   top:6rem;
   right:3rem;
   background:white;
}


#actions_section {
   position:relative;
}
.dlg_bg::before {
   content:'';
   position:fixed;
   top:0;
   left:0;
   width:100%;
   height:100%;
   background:black;
   opacity:.3;
}

.dlg {
   position:fixed;
   top:33%;
   left:33%;
   width:33%;
   height:25%;
   background:white;
   opacity:1;
   border:solid 1px lightgrey;
   border-radius:.5rem;
}

.overflow_hidden {
   overflow:hidden;
}


